.effectsFactory {
	.layout {
		.resetMargin {
			margin : 0;
			padding : 0;
		}
		.size(@w; @h) {
			width : ~"@{w}%";
			height : ~"@{h}%";
		}
		.column(@cols; @w; @h) {
			float : left;
			.size(@w / @cols; @h);
		}
		.rectWithFixedAspect(@ratioW:1;) {
			@percent : @ratioW * 100;
			padding-top : ~"@{percent}%";
			display : block;
			content : "";
		}
		.centeringHBox {
			display : -moz-box;
			display : -webkit-box;
			-moz-box-pack : center;
			-webkit-box-pack : center;
		}
		.centeringVBox {
			display : -moz-box;
			display : -webkit-box;
			-moz-box-align : center;
			-webkit-box-align : center;
		}
		.centeringHInline {
			text-align : center;
		}
		.centeringHBlock {
			margin : 0 auto;
		}
		.centeringHFloatList(list) {
			position : relative;
			left : 50%;
		}
		.centeringHFloatList(item) {
			position : relative;
			left : -50%;
		}
	}
	.animation {
		.animate(@name; @d:3s; @timing:linear; @delay:0s; @iteration:1; @direction:normal){
			animation : @arguments;  
			-webkit-animation : @arguments; 
			animation-fill-mode : forwards;
			-webkit-animation-fill-mode : forwards;
			transform-origin : top;
			-webkit-transform-origin : top;
		}
	}
}




