@import "effects.less";

/*共通モジュールロード*/
#Effects {
	.unlockEffectModules();
}
#Layout {
	#Effects>.layout();
}
#Anime {
	#Effects>.animation();
}


.sizeMgrImpl {
	.rootSize {
		#Layout>.size(100; 100);
	}
		.naviSize {
			#Layout>.size(100; 100);
		}
			.buttonSize {
			}
		.imageListSize {
			#Layout>.size(200; 80);
		}
			.imageSlotSize {
				#Layout>.column(5; 30; 100);
			}
			.centerSlotSize {
				#Layout>.column(5; 80; 100);
			}
				.imageFrameSize {
				}
}

.workspaceImpl {
	.properties {
		overflow : hidden;
	}
}

.naviImpl {
	.properties {
		#Layout>.centeringHInline();
		position : absolute;
	}
	.naviButtonProps {
		margin-top : 5%;
	}
	.prevButtonProps {
	}
	.nextButtonProps {
	}
}

.imageListImpl {
	.properties {
		margin-top : 10%;
		left : -32%;
		position : relative;
	}
}

.imageSlotImpl {
	.properties {
			#SizeMgr>.buttonSize();
		list-style-type : none;
		margin : 0 1%;
	}
	.firstSlotProps {
	}
	.lastSlotProps {
	}
	.centerSlotProps {
	}
	.goAway {
		#Anime.animate(goAwayAnime);
	}
	.goNext {
		#Anime.animate(goNextAnime, 1s);
	}
	.goNextFromCenter {
		#Anime.animate(goNextFromCenterAnime, 1s);
	}
	.goNextToCenter {
		#Anime.animate(goNextToCenterAnime, 1s);
	}
	.goPrev {
		#Anime.animate(goPrevAnime, 1s);
	}
	.goPrevFromCenter {
		#Anime.animate(goPrevFromCenterAnime, 1s);
	}
	.goPrevToCenter {
		#Anime.animate(goPrevToCenterAnime, 1s);
	}
	.setSize(@w; @h) {
		#Layout>.column(@colNum_; @w; @h);
	}
}

.imageFrameImpl {
	.properties {
		background-repeat : no-repeat;
		background-size : contain;
		background-position : center center;
		box-shadow : 5px 5px 5px #000000;
	}
	.imageFrameAfterProps {
		#Layout>.rectWithFixedAspect();
	}
}



.goNextFrames {
	from {
		-webkit-transform : rotate(0deg) skew(0deg) scale(1.0) translate(0px);
		transform : rotate(0deg) skew(0deg) scale(1.0) translate(0);
	}
	to {
		-webkit-transform : rotate(0deg) skew(0deg) scale(1.0) translate(133%, 0);
		transform : rotate(0deg) skew(0deg) scale(1.0) translate(133%, 0);
	}
}
@keyframes goNextAnime { .goNextFrames }
@-webkit-keyframes goNextAnime { .goNextFrames }

.goNextFromCenterFrames {
	from {
		-webkit-transform : rotate(0deg) skew(0deg) scale(1.0) translate(0px);
		transform : rotate(0deg) skew(0deg) scale(1.0) translate(0);
	}
	to {
		-webkit-transform : rotate(0deg) skew(0deg) scale(0.37, 0.4) translate(220%, 0);
		transform : rotate(0deg) skew(0deg) scale(0.37, 0.4) translate(220%, 0);
	}
}
@keyframes goNextFromCenterAnime { .goNextFromCenterFrames }
@-webkit-keyframes goNextFromCenterAnime { .goNextFromCenterFrames }

.goNextToCenterFrames {
	from {
		-webkit-transform : rotate(0deg) skew(0deg) scale(1.0) translate(0x);
		transform : rotate(0deg) skew(0deg) scale(1.0) translate(0);
	}
	to {
		-webkit-transform : rotate(0deg) skew(0deg) scale(2.7) translate(80%, 0);
		transform : rotate(0deg) skew(0deg) scale(2.7) translate(80%, 0);
	}
}
@keyframes goNextToCenterAnime { .goNextToCenterFrames }
@-webkit-keyframes goNextToCenterAnime { .goNextToCenterFrames }

.goPrevFrames {
	from {
		-webkit-transform : rotate(0deg) skew(0deg) scale(1.0) translate(0px);
		transform : rotate(0deg) skew(0deg) scale(1.0) translate(0);
	}
	to {
		-webkit-transform : rotate(0deg) skew(0deg) scale(1.0) translate(-133%, 0);
		transform : rotate(0deg) skew(0deg) scale(1.0) translate(-133%, 0);
	}
}
@keyframes goPrevAnime { .goPrevFrames }
@-webkit-keyframes goPrevAnime { .goPrevFrames }

.goPrevFromCenterFrames {
	from {
		-webkit-transform : rotate(0deg) skew(0deg) scale(1.0) translate(0px);
		transform : rotate(0deg) skew(0deg) scale(1.0) translate(0);
	}
	to {
		-webkit-transform : rotate(0deg) skew(0deg) scale(0.37, 0.4) translate(-220%, 0);
		transform : rotate(0deg) skew(0deg) scale(0.37, 0.4) translate(-220%, 0);
	}
}
@keyframes goPrevFromCenterAnime { .goPrevFromCenterFrames }
@-webkit-keyframes goPrevFromCenterAnime { .goPrevFromCenterFrames }

.goPrevToCenterFrames {
	from {
		-webkit-transform : rotate(0deg) skew(0deg) scale(1.0) translate(0x);
		transform : rotate(0deg) skew(0deg) scale(1.0) translate(0);
	}
	to {
		-webkit-transform : rotate(0deg) skew(0deg) scale(2.7) translate(-80%, 0);
		transform : rotate(0deg) skew(0deg) scale(2.7) translate(-80%, 0);
	}
}
@keyframes goPrevToCenterAnime { .goPrevToCenterFrames }
@-webkit-keyframes goPrevToCenterAnime { .goPrevToCenterFrames }
