.animation(@keyframes; @d:3s){
	-webkit-animation-name : @keyframes;
	-webkit-animation-duration : @d;
}

@-webkit-keyframes blownAway {
	from {
		-webkit-transform : rotate(0deg) skew(0deg) scale(1.0) translate(0px);
	}
	20% {
		-webkit-transform : rotate(12deg) skew(500deg) scale(0.5) translate(0px, -199px);
	}
	to {
		-webkit-transform : rotate(40deg) skew(2000deg) scale(0) translate(0px, -37px);
	}
}

.blownAwayAnime{
	.animation(blownAway);
}


.imageList {
	li {
		list-style-type : none;
		.imgFrame {
			width : 30%;
			height : 30%;
			text-align : center;
			.img {
				max-width : 100%;
			}
		}
	}
}
