.goAwayFrames from {
  -webkit-transform: rotate(0deg) skew(0deg) scale(1) translate(0px);
  transform: rotate(0deg) skew(0deg) scale(1) translate(0px);
}
.goAwayFrames 20% {
  -webkit-transform: rotate(12deg) skew(500deg) scale(0.5) translate(0px, -199px);
  transform: rotate(12deg) skew(500deg) scale(0.5) translate(0px, -199px);
}
.goAwayFrames to {
  -webkit-transform: rotate(40deg) skew(2000deg) scale(0) translate(0px, -37px);
  transform: rotate(40deg) skew(2000deg) scale(0) translate(0px, -37px);
}
@keyframes goAwayAnime {
  from {
    -webkit-transform: rotate(0deg) skew(0deg) scale(1) translate(0px);
    transform: rotate(0deg) skew(0deg) scale(1) translate(0px);
  }
  20% {
    -webkit-transform: rotate(12deg) skew(500deg) scale(0.5) translate(0px, -199px);
    transform: rotate(12deg) skew(500deg) scale(0.5) translate(0px, -199px);
  }
  to {
    -webkit-transform: rotate(40deg) skew(2000deg) scale(0) translate(0px, -37px);
    transform: rotate(40deg) skew(2000deg) scale(0) translate(0px, -37px);
  }
}
@-webkit-keyframes goAwayAnime {
  from {
    -webkit-transform: rotate(0deg) skew(0deg) scale(1) translate(0px);
    transform: rotate(0deg) skew(0deg) scale(1) translate(0px);
  }
  20% {
    -webkit-transform: rotate(12deg) skew(500deg) scale(0.5) translate(0px, -199px);
    transform: rotate(12deg) skew(500deg) scale(0.5) translate(0px, -199px);
  }
  to {
    -webkit-transform: rotate(40deg) skew(2000deg) scale(0) translate(0px, -37px);
    transform: rotate(40deg) skew(2000deg) scale(0) translate(0px, -37px);
  }
}
.goAwayAnime {
  animation: goAwayAnime 3s linear 0s 1 normal;
  -webkit-animation: goAwayAnime 3s linear 0s 1 normal;
}
.imageSlotFactory .imageSlotProps {
  float: left;
  list-style-type: none;
}
.imageFrameFactory .imageFrameProps {
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.imageFrameFactory .imageFrameAfterProps {
  padding-top: 100%;
  display: block;
  content: "";
}
/*domツリー*/
* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
}
.imageListFactory .imageListProps {
  display: inline-block;
  margin-top: 20%;
  padding-left: 10%;
}
.imageSlotFactory .imageSlotProps {
  float: left;
  list-style-type: none;
  margin: 0 1%;
}
.imageFrameFactory .imageFrameProps {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border: solid 3px #000000;
}
.imageFrameFactory .imageFrameAfterProps {
  padding-top: 100%;
  display: block;
  content: "";
}
/*domツリー*/
* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
}
#workspace {
  width: 100%;
  height: 100%;
}
#workspace #ImageList .imageListProps {
  display: inline-block;
  margin-top: 20%;
  padding-left: 10%;
}
#workspace #ImageSlot .imageSlotProps {
  float: left;
  list-style-type: none;
}
#workspace #ImageSlot .imageSlotProps {
  float: left;
  list-style-type: none;
  margin: 0 1%;
}
#workspace #ImageFrame .imageFrameProps {
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
#workspace #ImageFrame .imageFrameAfterProps {
  padding-top: 100%;
  display: block;
  content: "";
}
#workspace #ImageFrame .imageFrameProps {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border: solid 3px #000000;
}
#workspace #ImageFrame .imageFrameAfterProps {
  padding-top: 100%;
  display: block;
  content: "";
}
#workspace .imageList {
  width: 100%;
  height: 80%;
  display: inline-block;
  margin-top: 20%;
  padding-left: 10%;
}
#workspace .imageList .imageSlot {
  width: 14.285714285714286%;
  height: 100%;
  float: left;
  list-style-type: none;
  margin: 0 1%;
}
#workspace .imageList .imageSlot .imgFrame {
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border: solid 3px #000000;
}
#workspace .imageList .imageSlot .imgFrame::after {
  padding-top: 100%;
  display: block;
  content: "";
}
#workspace .imageList .middleSlot {
  width: 28.571428571428573%;
  height: 100%;
}
