<!DOCTYPE html>
<html ng-app="ImageApp">
	<head>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>
		<link rel="stylesheet/less" href="images.less"/>
		<link rel="stylesheet" href="images.css"/>
		<script src="lib/class/class.js"></script>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/jquery/jquery-1.10.2.js"></script>
		<script src="images.js"></script>
		<script src="lib/less/less-1.5.1.js"></script>
	</head>
	<body ng-controller="ImageCtrl">
		<div id="workspace">
			<ul class="imageList">
				<li ng-repeat="i in shownImages" class="imageSlot">
					<div class="imgFrame"
						 ng-class="{'firstFrame':($first), 'middleFrame':($middle), 'lastFrame':($last)}"
						 style="background-image:url('{{images[i].src}}')">
						<!---->
					</div>
				</li>
			</ul>
			<button ng-click="setUrl()">sss</button>
			<div id="prev"></div>
			<div id="next"/>
		</div>
	</body>
</html>
