body{
	font-size : 75%;
	font-family : 'Lucida Grande', 'Hiragino Kaku Gothic PronN', Meiyo, sans-serif;
}

div#workspace{
	width : 90%;
	margin : 10% auto;
	text-align : center;
}

div#register{
	width : 50%;
	border : thin solid #000000;
	border-radius : 6px;
	margin : 0 auto;
}

div#user-list{
	width : 50%;
	margin : 0 auto;
}

div.user-attr{
	width : 80%;
	margin : 5px auto;
}

div.user-attr > span{
	display : block;
	width : 30%;
	text-align : right;
	float : left;
}

div.user-attr > input{
	width : 65%;
	text-align : left;
}

ul.user-list > li{
	list-style-type : none;
}

ul.user-list > li > div.user-record{
	width : 100%;
	display : box;
	display : -moz-box;
	display : -webkit-box;
	text-align : center;
}

ul.user-list > li > div.user-record *{
	display : box;
	display : -moz-box;
	display : -webkit-box;
	box-flex : 1;
	-moz-box-flex : 1;
	-webkit-box-flex : 1;
	width : 150px;
}
ul.user-list > li > div.user-record div.imageBox{
	margin-right : 1px;
	box-flex : 0;
	-moz-box-flex : 0;
	-webkit-box-flex : 0;
	width : 24px;
}

ul.user-list > li > div.user-record button.edit{
	width : 00px;
}
ul.user-list > li > div.user-record img{
	width : 24px;
	height : 24px;
}
ul.user-list > li > div.user-record .hidden{
	visibility : hidden;
}

ul.user-list > li div.user-attr-name{
	background-color : #A9A9A9;
	margin-right : 1px;
}
